.contact-us {
    input {
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 10px 16px;
        background-color: #fff;
        color: #333;
        border: 1px solid #d9d9d9;
        transition: all .2s ease-out;
        margin-bottom: 16px;
        font-size: 14px;
        &:focus {
            outline: none;
            border-color: #197bbd;
            box-shadow: 0 0 0 1px #197bbd;
        }
    }
}