.UICalendar {
    position: relative;
    width: 256px;
    input {
        box-shadow: none;
        outline: none;
        transition: all .2s ease-out;
        margin: 0;
        border-radius: 0;
        color: #000;
        padding: 5px 10px;
        border: 1px solid #c4cdd5;
        border-radius: 3px;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
        letter-spacing: normal;
        box-sizing: border-box;
        width: 100%;
        &:hover,
        &:visited,
        &:focus {
            border-color: #3899ec;
            outline: none;
            z-index: 1;
        }
    }
    .UICalendar__main {
        width: 100%;
        box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
        border-radius: 8px;
        background-color: #fff;
        display: none;
        border: 1px solid #eee;
        padding: 8px;
        position: absolute;
        z-index: 1000;
        top: 100%;
        left: 0;
        transition: all .3s;
        &--show {
            display: block!important;
        }
    }
    .UICalendar__row {
        width: 100%;
        span {
            width: calc(100% / 7);
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            float: left;
            padding: 14px 10px;
            font-size: 14px;
        }
        &__item {
            cursor: pointer;
            transition: all .3s ease-in-out;
            border-radius: 4px;
            &:hover,
            &--selected {
                background: rgb(228, 231, 231);
            }
            &--active {
                background: #3899EC;
                color: #fff;
            }
        }
    }
    &__toolbar {
        display: flex;
        justify-content: space-between;
        padding: 4px 4px;
        span {
            cursor: pointer;
            transition: all .3s ease-in-out;
            line-height: 1;
            padding: 4px;
            &:hover {
                background: rgb(228, 231, 231);
                border-radius: 100%;
            }
        }
        &__picker {
            display: flex;
            select {
                text-align: center;
                margin: 0px 4px;
                appearance: none;
                border: 1px solid #eee;
                padding: 2px 8px;
                font-size: 12px;
                background: #fff;
                border-radius: 3px;
                &:hover,
                &:visited,
                &:focus {
                    border-color: #3899ec;
                    outline: none;
                    z-index: 1;
                }
            }
        }
    }
    &__days {
        display: flex;
        font-size: 10px;
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 16px;
        span {
            width: calc(100% / 7);
            text-align: center;
        }
    }
}