.notification {
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0.0625rem 0.0625rem 0.0925rem #2d794b;
    padding: 20px;
    margin: 10px auto;
    position: relative;
}

.notification .notification_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
}

.notification .notification_title,
.notification .notification_message {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.notification .notification_title {
    font-size: 16px;
    font-weight: 600;
}

.notification .notification_message {
    font-weight: 400;
    font-size: 14px;
}

.notification .success {
    background: #5ed490;
}


.notification .warning {
    background: #f56668;
}


.notification .info {
    background: #2a7ac0;
}

.notification .danger {
    background: #e5a300;
}
