.about-us {
    width: 100%;
    &__banner {
        position: relative;
        height: 380px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            height: 230px;
        }
        img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        p {
            z-index: 1;
            font-size: 32px;
            color: #fff;
            text-transform: uppercase;
            @media only screen and (max-width: 768px) {
                font-size: 24px;
            }
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            content: '';
        }
    }
    &__content {
        padding-top: 64px;
        text-align: justify;
    }
    .faqs__item {
        background-color: rgba(255, 229, 220, 0.116);
        text-align: left;
        padding: 16px;
        box-shadow: 0 4px 11px rgba(0, 0, 0, .08);
        white-space: normal;
        transition: all .25s cubic-bezier(.02, .01, .47, 1);
        color: #222;
        margin-bottom: 32px;
        border-radius: 8px;
        font-weight: 600;
        a {
            display: block;
            transition: all .25s cubic-bezier(.02, .01, .47, 1);
        }
        &:hover {
            background: #f5b095;
            a {
                color: #fff!important;
            }
        }
    }
}

.faqs__img {
    img {
        max-width: 100%;
        height: auto;
    }
}