.ad-login {
    background: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-container {
        width: 360px;
        margin: 0 auto;
        color: #95a7b7;
        padding: 0 10px;
        text-align: center;
        .dialog-heading {
            color: #31373d;
            font-size: 30px;
            line-height: 1;
            margin: 0;
            font-weight: 400;
        }
        .dialog-subheading {
            padding-top: 20px;
            padding-bottom: 10px;
            color: #95a7b7;
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            line-height: 24px;
        }
        .form {
            border-radius: 8px;
            box-shadow: 0 0 2px rgba(49, 55, 61, .2);
            margin-bottom: 20px;
            .btn-login {
                width: 100%;
                background: #479ccf;
                border: 0;
                height: 62px;
                line-height: 50px;
                color: #fff;
                font-size: 18px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                cursor: pointer;
                &:hover {
                    background: #4293c2;
                }
            }
        }
        .ad-form-group {
            position: relative;
            &:first-child {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
            }
            .form-control {
                padding: 24px;
                color: #31373d;
                font-size: 18px;
                border: none;
                border-bottom: 1px solid #e5e5e5;
                outline: none;
                font-weight: 300;
                height: auto;
                display: block;
                width: 100%;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
        }
    }
}