.product_lists {
    &__sort {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
    }
    &__filter {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        border-top: 1px solid #e3e3e3;
        padding-top: 16px;
        position: relative;
        &--sub {
            display: none;
            position: absolute;
            top: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background: #fff;
            width: 100%;
            border: 1px solid #e3e3e3;
            z-index: 100;
            left: 0;
            right: 0;
            padding: 24px 15px 24px 15px;
            li {
                label {
                    font-size: 14px!important;
                    line-height: 1;
                }
                margin-bottom: 8px;
            }
        }
        &--btn {
            color: #fff;
            background: #333;
            padding: 6px 12px;
            margin-top: 16px;
            display: inline-block;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                background: #222;
            }
        }
        &--choose-items {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 24px 0;
            li {
                display: flex;
                align-items: center;
                background-color: rgba(234, 198, 185, .09);
                height: 28px;
                min-width: 40px;
                margin-right: 8px;
                margin-bottom: 4px;
                font-size: 13px;
                border-radius: 25px;
                border-width: 1px;
                border-style: solid;
                border-color: var(--primary-color);
                border-image: initial;
                padding: 4px 8px;
                overflow: hidden;
                span:nth-child(1) {
                    margin-right: 8px;
                }
                span:nth-child(2) {
                    cursor: pointer;
                }
            }
        }
    }
    &__filter>li {
        padding: 6px 12px 6px 12px;
        font-size: 14px;
        border: 1px solid #e3e3e3;
        margin-right: 10px;
        opacity: 1;
        text-decoration: none;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:after {
            content: '\e874';
            font-family: Linearicons-Free;
            line-height: 1;
            margin-left: 16px;
        }
        &:hover>span {
            color: rgb(186, 140, 124);
        }
        &:hover {
            border-bottom: none;
        }
        &:hover>ul,
        &:visited>ul {
            display: block;
        }
    }
    &__items {
        .product_list__item__product {
            margin-bottom: 64px;
            .product_list__items__image {
                text-align: center;
                position: relative;
                img {}
            }
            .product_list__item__brand {
                margin-top: 16px;
                margin-bottom: 8px;
                line-height: 1.125rem;
                font-size: 0.75rem;
                color: var(--third-dark-color);
            }
            .product_list__item__name {
                color: #4E595D;
                margin-bottom: 8px;
                letter-spacing: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                font-size: 14px;
            }
            .product_list__item__discount {
                background: #f5b095;
                color: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 4px 8px;
                font-size: 11px;
                font-weight: 600;
            }
            .product_list__item__price {
                display: flex;
                justify-content: flex-start;
                span:first-child {
                    margin-right: 16px;
                    font-size: 1rem;
                    color: rgba(78, 89, 93, 0.7);
                    font-weight: 400;
                }
                span:last-child {
                    font-size: 1.125rem;
                    line-height: 1.33rem;
                    color: #f5b095;
                }
            }
        }
    }
}