.product_lists {
    &__sort {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
    }
    &__filter {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        border-top: 1px solid #e3e3e3;
        padding-top: 16px;
        position: relative;
        &--sub {
            display: none;
            position: absolute;
            top: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background: #fff;
            width: 100%;
            border: 1px solid #e3e3e3;
            z-index: 100;
            left: 0;
            right: 0;
            padding: 24px 15px 24px 15px;
            li {
                label {
                    font-size: 14px!important;
                    line-height: 1;
                }
                margin-bottom: 8px;
            }
        }
        &--btn {
            color: #fff;
            background: #333;
            padding: 6px 12px;
            margin-top: 16px;
            display: inline-block;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                background: #222;
            }
        }
        &--choose-items {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 24px 0;
            li {
                display: flex;
                align-items: center;
                background-color: rgba(234, 198, 185, .09);
                height: 28px;
                min-width: 40px;
                margin-right: 8px;
                margin-bottom: 4px;
                font-size: 13px;
                border-radius: 25px;
                border-width: 1px;
                border-style: solid;
                border-color: var(--primary-color);
                border-image: initial;
                padding: 4px 8px;
                overflow: hidden;
                span:nth-child(1) {
                    margin-right: 8px;
                }
                span:nth-child(2) {
                    cursor: pointer;
                }
            }
        }
    }
    &__filter>li {
        padding: 6px 12px 6px 12px;
        font-size: 14px;
        border: 1px solid #e3e3e3;
        margin-right: 10px;
        opacity: 1;
        text-decoration: none;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:after {
            content: '\e874';
            font-family: Linearicons-Free;
            line-height: 1;
            margin-left: 16px;
        }
        &:hover>span {
            color: rgb(186, 140, 124);
        }
        &:hover {
            border-bottom: none;
        }
        &:hover>ul,
        &:visited>ul {
            display: block;
        }
    }
    &__items {}
}