.product_detail {
    .product_detail__images {
        display: flex;
        @media only screen and (max-width: 768px) {
            display: block;
        }
        &-main {
            overflow: hidden;
        }
        &-list {
            padding: 0;
            list-style: none;
            max-width: 60px;
            margin-right: 16px;
            @media only screen and (max-width: 768px) {
                max-width: unset;
                display: -webkit-box;
                overflow-x: scroll;
            }
            li {
                padding-bottom: 16px;
                @media only screen and (max-width: 768px) {
                    width: 50px;
                    margin-right: 16px;
                }
                img {
                    transition: all .3s;
                    border: 2px solid #fff;
                }
                &:hover img {
                    border: 2px solid var(--primary-color);
                    cursor: pointer;
                }
            }
            .picked {
                img {
                    border: 2px solid var(--primary-color);
                }
            }
        }
        .zoom-in-container {
            width: 90%;
            position: relative;
            overflow: hidden;
            margin-bottom: 64px;
            .zoom-in-container__image-preview {
                width: 90%;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 32px;
            }
        }
    }
    .product_volume_weight {
        margin-top: 14px;
        font-size: 20px;
        text-transform: uppercase;
        @media only screen and (max-width: 768px) {
            margin-bottom: 14px;
            h4 {
                font-size: 16px;
            }
        }
    }
    .product-info {
        .title {
            font-size: 1.25rem!important;
            color: rgb(78, 89, 93);
            font-weight: 400!important;
            padding: 8px 0;
            @media only screen and (max-width: 768px) {
                line-height: 1.2;
                font-size: 24px!important;
            }
        }
        .brand {
            @media only screen and (max-width: 768px) {
                font-size: 16px!important;
            }
        }
        .add-to-cart {
            margin-top: 20px;
            margin-bottom: 24px;
            @media only screen and (max-width: 768px) {
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0;
                z-index: 2000;
            }
            &__btn {
                cursor: pointer;
                background: var(--primary-color);
                color: #fff;
                width: 80%;
                display: inline-block;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: .6875rem 3.031rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0;
                transition: all .3s ease-in-out;
                &:hover {
                    background: #ebb8a5;
                }
                @media only screen and (max-width: 768px) {
                    width: 100%;
                    font-size: 14px;
                    padding: 10px 6px;
                    background: var(--second-color);
                    text-transform: uppercase;
                }
            }
        }
        .price {
            .price {
                color: rgba(78, 89, 93, 0.7);
                font-size: 1.25rem;
                margin-right: 16px;
                text-decoration: line-through;
            }
            .discount {
                color: var(--primary-color);
                font-weight: 700;
                font-size: 1.5rem !important;
            }
        }
    }
    .product-intro {
        text-align: justify;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        &--bottom {
            text-align: justify;
            padding: 16px;
            font-size: 12px;
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
            }
        }
    }
    .product-tags {
        margin-top: 16px;
        margin-bottom: 16px;
        span {
            font-size: 12px;
            border-radius: 3px;
            line-height: 30px;
            background: var(--second-color);
            border-width: 0px;
            cursor: pointer;
            margin-bottom: 10px;
            margin-right: 7px;
            outline: none;
            padding: 8px 9px 8px 11px;
            transition: all .3s ease-in-out;
            &:hover {
                background: var(--second-color);
            }
            a {
                color: #fff!important;
            }
        }
    }
    .product-rating {
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        div:first-child {
            margin-right: 16px;
        }
    }
    .additional-info {
        padding: 0;
        list-style: none;
        li {
            font-weight: 400;
            font-size: 0.875rem;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span {
                margin-right: 16px;
                font-size: 20px;
            }
        }
    }
    .product-description {
        &__session {
            border-top: 1px solid rgba(78, 89, 93, 0.15);
            cursor: pointer;
        }
        &__title {
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.36;
            color: rgb(78, 89, 93);
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                user-select: none;
            }
            @media only screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
        &__content {
            font-weight: 400;
            font-size: 0.875rem;
            color: rgb(78, 89, 93);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.25s ease 0s;
            @media only screen and (max-width: 768px) {
                font-size: 12px;
            }
            p {
                margin-bottom: 0;
            }
            ul {
                padding: 0;
                padding-left: 16px;
            }
        }
    }
}