:root {
    --primary-color: #f5b095;
    --second-color: #5D9D90;
    --primary-dark-color: #222;
    --second-dark-color: #4f4f4f;
    --third-dark-color: #585858;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mg-t-16 {
    margin-top: 20px;
}

.pd-0 {
    padding: 0!important;
}

.notify {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 2000;
}

.notification {
    border-radius: 6px;
    padding: 20px;
    display: inline-block;
}

.notification .notification-title {
    font-size: 16px!important;
    font-weight: 400;
    margin: 0;
    color: #fff;
    display: flex;
}

.notification .notification-title span {
    margin-right: 16px;
}

.notification.success {
    background: #5ed490;
}

.notification.warning {
    background: #f56668;
}

.notification.info {
    background: #2a7ac0;
}

.notification.danger {
    background: #e5a300;
}

.img-loading {
    animation: LoadingImage 2s ease-in-out;
}

@keyframes LoadingImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
    color: #4e595d;
    letter-spacing: normal;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.pagination li {
    float: left;
    padding: 4px 10px;
    background: #eee;
    border-radius: 3px;
    text-align: center;
    color: #333;
    margin-right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.pagination li:hover,
.pagination li.active {
    background: #ccc;
    color: #333;
}