:root {
    --primary-color: #eac6b9;
    --second-color: #5D9D90;
    --primary-dark-color: #222;
    --second-dark-color: #4f4f4f;
    --third-dark-color: #585858;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mg-t-16 {
    margin-top: 20px;
}

.pd-0 {
    padding: 0!important;
}

.notification {
    border-radius: 6px;
    padding: 20px;
    margin: 10px auto;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification .notification-title {
    font-size: 16px!important;
    font-weight: 600;
    margin: 0;
}

.notification.success {
    background: #5ed490;
}

.notification.warning {
    background: #f56668;
}

.notification.info {
    background: #2a7ac0;
}

.notification.danger {
    background: #e5a300;
}

.img-loading {
    animation: LoadingImage 2s ease-in-out;
}

@keyframes LoadingImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
    color: #4e595d;
    letter-spacing: normal;
}