.autocomplete {
    position: relative;
    input {
        box-shadow: none!important;
        outline: none;
        transition: all .2s ease-out;
        margin: 0;
        color: #000;
        padding: 5px 10px;
        border: none!important;
        border-top: 1px solid #c4cdd5!important;
        border-bottom: 1px solid #c4cdd5!important;
        border-left: 1px solid #c4cdd5!important;
        border-radius: 0px!important;
        font-weight: 400;
        line-height: 24px;
        text-transform: initial;
        letter-spacing: initial;
        box-sizing: border-box;
        display: block;
        width: 100%;
        &:hover,
        &:focus,
        &:visited {
            box-shadow: none!important;
            outline: none;
            position: relative;
            z-index: 1;
        }
    }
    .autocomplete__input {
        display: flex;
        align-items: center;
        span {
            background: #fff;
            padding: 5px 12px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            border-top: 1px solid #c4cdd5!important;
            border-right: 1px solid #c4cdd5!important;
            border-bottom: 1px solid #c4cdd5!important;
            &:hover {
                background: #0078bd;
                border-color: #0078bd;
                color: #fff;
            }
        }
    }
    .autocomplete__content-search {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        width: 100%;
        margin: 2px 0 0;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        .autocomplete__items {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            max-height: 150px;
            li {
                display: block;
                font-size: 14px;
                padding: 8px 16px;
                transition: all .3s;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    background: #0078bd;
                    color: #fff;
                }
            }
        }
        .autocomplete__add-new-item {
            background: #e9eff3;
            color: #0078bd;
            padding: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                color: #e9eff3;
                background: #0078bd;
            }
        }
    }
}
