.shopping-cart {
    z-index: 2000;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgba(39, 39, 39, 0.658);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__content {
        overflow-y: scroll;
        overflow-x: hidden;
        background: rgb(255, 255, 255);
        transition: transform 0.25s ease 0s;
        width: 400px;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        &__header {
            background-color: rgba(83, 94, 99, 0.06);
            padding: 8px 16px;
            text-align: center;
            position: relative;
            .close-btn {
                position: absolute;
                top: calc(100%/2 - 12px - 2px);
                right: 16px;
                padding: 6px;
                border-radius: 100%;
                transition: all .3s;
                cursor: pointer;
                background: var(--primary-dark-color);
                color: #fff;
                &:hover {
                    background: var(--second-color);
                    color: #fff;
                }
            }
            p {
                margin: 0;
            }
            p:first-child {
                font-weight: 600;
                font-size: 16px;
                margin: 0px;
                color: #4e595d;
            }
            p:last-child {
                font-size: 0.775rem;
                color: rgba(78, 89, 93, 0.7);
                font-weight: 400;
                text-transform: capitalize;
            }
        }
        &__null {
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 64px;
            padding: 16px;
            &>div {
                display: flex;
                margin-top: 32px;
                flex-direction: column;
                span:first-child {
                    margin-bottom: 15px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.625;
                    color: #4e595d;
                }
                span:last-child {
                    background: var(--primary-color);
                    font-weight: 500;
                    color: #fff!important;
                    text-align: center;
                    white-space: nowrap;
                    border: 1px solid transparent;
                    padding: .6875rem 3.031rem;
                    cursor: pointer;
                    transition: all .3s;
                    text-transform: uppercase;
                    display: block;
                    &:hover {
                        background: var(--primary-dark-color);
                        color: #fff;
                    }
                }
            }
            img {
                width: 50%;
            }
        }
    }
    &__items {
        margin: 0;
        padding: 16px;
        list-style: none;
        li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
            border-bottom: 1px solid #eee;
            padding-bottom: 16px;
            img {
                width: 64px;
            }
            .cart__item {
                display: flex;
                flex-direction: column;
                span:first-child {
                    font-size: 15px;
                    font-weight: 600;
                    color: var(--primary-dark-color);
                }
                span:last-child {
                    font-size: 14px;
                    color: var(--second-color);
                }
            }
            .cart__qty {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                span {
                    padding: 4px 12px;
                    border: 1px solid #e1e1e1;
                    font-size: 13px;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover {
                        background: var(--second-color);
                        color: #fff;
                    }
                }
                span:nth-child(2) {
                    border-right: 0;
                    border-left: 0;
                    cursor: unset;
                    background: #fff;
                    &:hover {
                        background: #fff;
                        color: var(--primary-dark-color);
                    }
                }
                .cart__qty--right {
                    font-size: 14px;
                    color: var(--second-color);
                }
            }
        }
        li>div {
            flex: 1;
            margin-left: 24px;
        }
    }
    .shopping-cart__footer {
        margin-top: 64px;
        padding: 16px;
        div:nth-child(1) {
            display: flex;
            justify-content: space-between;
            span {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 12px;
                color: var(--primary-dark-color);
            }
        }
        div:last-child {
            background: var(--primary-color);
            color: #fff!important;
            font-weight: 500;
            padding: 10px;
            text-align: center;
            margin-top: 16px;
            font-size: 15px;
            cursor: pointer;
            transition: all .3s;
            display: block;
            text-transform: uppercase;
            &:hover {
                background: var(--second-color);
                color: #fff;
            }
        }
    }
}