.blogs {
    margin-top: 32px;
    margin-bottom: 32px;
    .items {
        .item {
            h4 {
                line-height: 1.2;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 16px;
                display: block;
                &:hover {
                    color: var(--second-color);
                }
            }
        }
        p {
            font-size: 14px;
            text-align: justify;
        }
    }
    .hot {
        h4 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            display: block;
        }
        &__item {
            font-size: 14px;
            text-align: justify;
            p {
                margin-bottom: 8px;
                letter-spacing: 0.3px;
                &:hover {
                    color: var(--second-color);
                }
                &:before {
                    content: '- ';
                }
            }
        }
    }
    h1 {
        line-height: 1;
    }
}