.info-lazy-loading {
    position: relative;
    width: 100%;
    -webkit-animation: pulseAnimation 1.6s ease infinite;
    animation: pulseAnimation 1.6s ease infinite;
    margin-bottom: 32px;
    .content {
        height: 350px;
        overflow: hidden;
        border-radius: 4px;
        display: block;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
    }
    .content_1 {
        height: 80px;
        overflow: hidden;
        border-radius: 4px;
        display: block;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
    }
    .block {
        width: 60%;
        height: 32px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .block_2 {
        width: 100%;
        height: 32px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .block_3 {
        width: 64px;
        height: 64px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line {
        width: 100%;
        height: 16px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_1 {
        margin-top: 14px;
        width: 100%;
        height: 12px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_2 {
        margin-top: 7px;
        width: 80%;
        height: 6px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_2-1 {
        margin-top: 7px;
        width: 50%;
        height: 6px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_2-3 {
        margin-top: 7px;
        width: 20%;
        height: 6px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_1-2 {
        margin-top: 7px;
        width: 50%;
        height: 12px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    .line_1-3 {
        margin-top: 7px;
        width: 20%;
        height: 12px;
        background-image: linear-gradient(45deg, #FAFBFC 0%, #E6ECF2 100%);
        border-radius: 4px;
    }
    @keyframes pulseAnimation {
        0% {
            opacity: 1;
        }
        45% {
            opacity: .3;
        }
        100% {
            opacity: 1;
        }
    }
}