.am-side-left-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #31373d;
    transition: background-color 200ms ease;
    width: calc(100% - 83.333333%);
    padding: 12px;
    .user {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        span:first-child {
            font-weight: 500;
        }
        span:last-child {
            padding: 4px;
            transition: all .3s;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
                background: #fafafa;
                color: var(--primary-dark-color);
            }
        }
    }
    .am-side-left-menu__item {
        margin-top: 32px;
        ul {
            padding: 0;
            a {
                color: #fff!important;
                font-size: 14px;
                padding: 4px;
                width: 100%;
                display: inline-block;
                transition: all .3s ease-in-out;
                &:hover {
                    background: rgba(255, 255, 255, 0.28);
                    color: #eee!important;
                }
            }
        }
    }
}
