.am-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
        padding: 0 8px;
        transition: all .3s;
        font-weight: 600;
        &:hover a {
            color: var(--primary-dark-color)!important;
        }
    }
    .back a {
        color: var(--third-dark-color)!important;
    }
    .back::after {
        content: '/';
        padding-left: 16px;
    }
}