.cn-breadcrumb {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    margin: 0;
    li {
        display: inline-flex;
        padding-left: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
        color: rgba(78, 89, 93, .7);
        font-size: .875rem;
        line-height: 1.5rem;
        @media only screen and (max-width: 768px) {
            padding: 0;
            display: inline;
            padding-left: 4px;
        }
        &:first-child {
            padding-left: 0;
        }
        a {
            color: rgba(78, 89, 93, .7);
            font-size: .875rem;
            line-height: 1.5rem;
            text-decoration: underline!important;
            &:after {
                content: '/';
                padding-left: 8px;
            }
            &:hover {
                color: var(--primary-color)!important;
            }
        }
    }
}