.ui-photo {
    position: fixed;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 12px 24px -6px rgba(9, 45, 66, .25), 0 0 0 1px rgba(9, 45, 66, .08);
    width: 339px;
    top: 0;
    bottom: 0;
    &__header {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        padding: 14px 32px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition: margin .12s ease-in;
        white-space: nowrap;
        flex: 1;
        border-bottom: 1px solid #eee;
        span:first-child {
            flex: 1;
            text-align: center;
        }
    }
    &__action {
        display: flex;
        padding: 16px;
        span {
            flex: 1;
            background: #42548e;
            text-align: center;
            color: #fff;
            font-weight: 500;
            padding: 10px 8px;
            font-size: 16px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            &:before {
                margin-right: 8px;
            }
            input {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__photos {
        padding: 16px;
        overflow-y: scroll;
        height: calc(100% - 13%);
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            column-count: 2;
            column-gap: 8px;
            li {
                float: left;
                cursor: pointer;
                position: relative;
                margin: 4px 0px;
                overflow: hidden;
                z-index: 5;
                transition: all .3s ease-in-out;
                img {
                    max-width: 100%;
                    border-radius: 8px;
                }
                &:hover {
                    &:after {
                        content: '';
                        background: rgba(34, 34, 34, 0.596);
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 8px;
                        z-index: 1;
                    }
                }
                >div {
                    position: absolute;
                    z-index: 5;
                    bottom: -100px;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    background: rgb(247, 247, 247);
                    transition: all .3s ease-in-out;
                    span {
                        display: block;
                        text-align: center;
                        padding: 6px 4px;
                        font-size: 13px;
                        cursor: pointer;
                        transition: all .3s ease-in-out;
                        &:hover {
                            background: #42548e;
                            color: #fff;
                        }
                    }
                }
                &:hover>div {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }
}