.section-notification-bar {
    background: var(--primary-color);
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--third-dark-color);
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}