.primary-header {
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.05);
    position: relative;
    z-index: 100;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        li>a {
            font-size: 15px;
        }
        li {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            padding: 20px 20px;
            letter-spacing: 1.35px;
            transition: all .3s;
            cursor: pointer;
            .primary-menu__submenu {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: -1;
                transition: all .24s!important;
                ul {
                    all: unset;
                }
            }
            .off {
                animation: offSubMenu .24s linear;
                visibility: hidden;
            }
            .on {
                animation: showSubMenu .24s linear;
                visibility: visible;
            }
            li.active {
                a {
                    color: var(--primary-color)!important;
                }
            }
        }
    }
    .row {
        display: flex;
        align-items: center;
        .primary-header__logo {
            flex: 2;
            padding-left: 15px;
            .logo {
                width: 20%;
            }
        }
        ul {
            flex: 8;
        }
    }
    .primary-menu__submenu {
        border: 0;
        background: #fbfbfb;
        box-shadow: 2px 6px 8px -6px rgba(0, 0, 0, .26);
        .submenu--header {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            text-transform: capitalize;
            letter-spacing: 1.3px;
            a {
                color: var(--third-dark-color)!important;
                text-decoration: none!important;
            }
        }
        li {
            transition: unset;
        }
        .item {
            margin: 10px 0;
        }
        .item>ul {
            padding: 0;
            margin: 0;
            margin-top: 8px;
            li {
                padding: 0;
                width: 100%;
                display: block;
                a {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1px;
                    padding: 0;
                    list-style: none;
                    text-transform: capitalize;
                    letter-spacing: 0.5px;
                    color: #6a6a6a!important;
                    &:hover {
                        color: var(--second-color)!important;
                    }
                }
            }
        }
    }
    #show-all {
        margin: 22px 0 8px 0;
        font-size: 13px;
        text-transform: capitalize;
        display: block;
        a {
            color: var(--third-dark-color)!important;
            &:hover {
                color: var(--second-color)!important;
            }
        }
    }
    @keyframes showSubMenu {
        from {
            opacity: 0;
            transform: translateY(-32px)
        }
        to {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @keyframes offSubMenu {
        from {
            opacity: 1;
            transform: translateY(0)
        }
        to {
            opacity: 0;
            transform: translateY(-32px)
        }
    }
}