.off {
    opacity: 0;
    left: -100%;
    .mobile-primary-menu__sideleft-menu__content {
        left: -100%;
    }
}

.on {
    opacity: 1;
    left: 0;
    .mobile-primary-menu__sideleft-menu__content {
        left: 0;
    }
}

.mobile-primary-menu {
    background: var(--primary-color);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    &__toggle-btn {
        font-size: 24px;
        color: #fff;
    }
    input {
        display: block;
        margin: 0;
        margin-left: 8px;
        margin-right: 16px;
        position: relative;
        width: 75%;
        border-width: 0;
        background: #fff;
        line-height: 32px;
        padding: 0 12px;
        border-radius: 3px;
    }
    &__cart {
        color: #fff;
        font-size: 24px;
        position: relative;
        display: flex;
        align-items: center;
        .items {
            font-size: 10px;
            position: absolute;
            background: #999;
            border-radius: 100%;
            color: #fafafa;
            padding: 1px 5px;
            top: 0;
            right: -10px;
        }
    }
    &__sideleft-menu {
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2001;
        transition: opacity 300ms;
        background-color: rgba(0, 0, 0, 0.54);
        &__content {
            box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
            background: #fff;
            width: 75%;
            height: 100vh;
            overflow-y: scroll;
            padding-bottom: 32px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all 300ms;
        }
        &__item--head {
            padding: 12px;
            background: #fff9f7;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            img {
                width: 64px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .flags {
                img {
                    width: 20px;
                    margin-right: 16px;
                }
            }
        }
        &__item {
            padding: 18px;
            .title {
                font-weight: 600;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                .menu-item {
                    margin-bottom: 16px;
                    display: block;
                    border-bottom: 1px solid #eee;
                    padding-bottom: 16px;
                    .menu-item__child {
                        padding-left: 10px;
                        a {
                            font-weight: 400;
                        }
                    }
                }
                .menu-item>a {
                    font-weight: 600;
                    margin-bottom: 8px;
                    display: block;
                }
            }
        }
    }
}