.primary-header {
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.05);
    position: relative;
    z-index: 100;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            padding: 25px 20px;
            letter-spacing: 1.35px;
            transition: all .3s;
            cursor: pointer;
            .primary-menu__submenu {
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: -1;
                transition: all .24s!important;
                animation: offSubMenu .24s linear;
                ul {
                    all: unset;
                }
            }
            &:hover {
                a {
                    color: var(--primary-color)!important;
                }
                .primary-menu__submenu {
                    visibility: visible;
                    animation: showSubMenu .24s linear;
                }
            }
            li.active {
                a {
                    color: var(--primary-color)!important;
                }
            }
        }
    }
    .row {
        display: flex;
        align-items: center;
        .primary-header__logo {
            flex: 2;
            .logo {
                width: 50%;
            }
        }
        ul {
            flex: 8;
        }
    }
    .primary-menu__submenu {
        border: 0;
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .submenu--header {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            padding: 10px 0;
            text-transform: uppercase;
            min-height: 37px;
            margin-bottom: 8px;
        }
        li {
            transition: unset;
        }
        .item {
            margin: 10px 0;
        }
        .item>ul {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                width: 100%;
                display: block;
                a {
                    font-size: 9.5px;
                    font-weight: 300;
                    line-height: 25px;
                    padding: 0;
                    list-style: none;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    color: var(--second-dark-color)!important;
                    &:hover {
                        color: var(--second-color)!important;
                    }
                }
            }
        }
    }
    @keyframes showSubMenu {
        from {
            opacity: 0;
            transform: translateY(-64px)
        }
        to {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @keyframes offSubMenu {
        from {
            opacity: 1;
            transform: translateY(0)
        }
        to {
            opacity: 0;
            transform: translateY(-64px)
        }
    }
}
